body {
    text-align: center; 
}

.point {
    fill: #00CCD6;
}

.point.dragging {
    fill: #FFD900;
}

.line {
    fill: none;
    stroke: #00CCD6;
    stroke-width: 4px;
}

.axis path { 
    /* fill: #333333; */
    fill: none;
}

.graph, body {
    background-color: #EFEFEF;
}

.graph {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #424242;
    display: inline-block;
    padding: 20px;
}
