body {
    text-align: center; 
}

.point.dragging, .point:hover {
    fill: #FFF;
    cursor: move;
}

.line {
    fill: none;
    stroke-width: 4px;
}

.axis path { 
    /* fill: #333333; */
    fill: none;
}

.graph, body {
    background-color: #EFEFEF;
}

.graph {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #424242;
    display: inline-block;
    padding: 20px;
}

.graph-header-item {
    display: inline-block; 
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.graph-header-text {
    margin: 0px;
    margin-top: 4px;
}

.graph-header-btn {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    border-radius: 50%;
}

.graph-header-btn:hover {
    background-color: gray!important;
}
