body {
    text-align: center; 
    background-color: 
}

.point.dragging, .point:hover {
    fill: #FFF;
    cursor: move;
}

.line {
    fill: none;
    stroke-width: 4px;
}

.axis path { 
    /* fill: #333333; */
    fill: none;
}

.graph {
    background-color: #EFEFEF;
}

body {
    background-color: #424242;
}


.graph {
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 20px #222222;
    display: inline-block;
    padding: 20px;
}

.graph-header {
    box-shadow: 2px 2px 20px;
    border-radius: 2px;
    padding: 10px;
}

.graph-header-item {
    display: inline-block; 
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.graph-header-text {
    margin: 0px;
    margin-top: 4px;
}

.graph-header-btn {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    border-radius: 50%;
}

.graph-header-btn:hover, .graph-header-btn.inactive {
    opacity: 0.5;
}
