$base: hsl(0, 0%, 90%);

$normal: hsl(0, 0%, 95%);
$normalShadow: hsl(0, 0%, 60%);

$front: hsl(0, 0%, 100%);
$frontShadow: hsl(0, 0%, 80%);

$fontColor: hsl(0, 0%, 10%);

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    text-align: center; 
    background-color: $base;
    color: $fontColor;
}

.point.dragging, .point:hover {
    fill: #FFD900;
    cursor: move;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.axis path { 
    /* fill: #333333; */
    fill: none;
}

.graph {
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 30px $normalShadow;
    display: inline-block;
    padding: 20px;
    background-color: $normal;
}

.graph-header {
    box-shadow: 2px 2px 20px $frontShadow;
    border-radius: 2px;
    padding: 10px;
    background-color: $front;
}

.graph-header-item {
    display: inline-block; 
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.graph-header-text {
    margin: 0px;
    margin-top: 4px;
}

.graph-header-btn {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    border-radius: 50%;
}

.graph-header-btn:hover, .graph-header-btn.inactive {
    opacity: 0.5;
}

.graph-footer {
    margin-top: 20px;
}

.result {
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 30px $normalShadow;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    background-color: $normal;
    width: 1000px;
}

.flat-btn {
    display: inline-block;
    width: 40%;
    padding: 0px;
    margin: 0px;
    padding: 20px;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 10px $frontShadow;
    cursor: pointer;

    @extend .no-select;
}

.flat-btn.success {
    background-color: hsl(120, 80%, 70%);
}

.flat-btn.success:hover {
    background-color: hsl(120, 60%, 60%);
    color: $normal;
}

.flat-btn.primary {
    background-color: hsl(200, 80%, 70%);
}

.flat-btn.primary:hover {
    background-color: hsl(200, 60%, 60%);
    color: $normal;
}

.splash {
    display: inline-block;

    .save {
        color: hsl(120, 50%, 50%);
    }
}
